.main.content{
  margin-top: 10%
}

 /* Form */
.form-login{
  width: 40%;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb
}
.logo{
  width: 30%;
  margin-bottom: 3%
}
.form-fields{
  border-bottom: solid 1px #CCC !important;
  color: #CCC
}
md-input-container.md-default-theme label{
    color: #CCC !important;
}

/* Buttons */
.buttons{
  width: 100%;
}
.buttons2{
  background: #fafafa
}
.log-but{
  margin: 0 0 1em 0;
  width: 100%;
  border-bottom: 1px solid #66CC33;
  color: #66CC33
}
.log-but:hover, .log-but:focus{
  background-color: #66CC33 !important;
  border-bottom: 1px solid #66CC33;
  color: white
}
.reg-but{
  margin: 0 0 1em 0;
  width: 100%;
  border-bottom: 1px solid #66CCFF;
  color: #66CCFF
}
.reg-but:hover, .reg-but:focus{
  background-color: #66CCFF !important;
  border-bottom: 1px solid #66CCFF;
  color: white
}

/* Error messages */
.error-messages{
  margin-top: 5%;
  color: red;
  background-color: rgba(255,0,0,0.1);
  border: 1px solid red;
  padding: 5%;
  text-align: center
}
