.main-content
  form.form-login(name="loginForm" novalidate)
    div(layout="row" layout-align="center center")
      img.logo(src="images/cognizantLogo.png")
    // Login Fields
    md-input-container.md-block
      label User
      input.form-fields(type='text' ng-model="user" required)
    md-input-container.md-block
      label Password
      input.form-fields(type='password' ng-model="password" required)
    // Register fields
    div(ng-show="home.regFields")
      md-input-container.md-block
        label Name
        input.form-fields(type='text' ng-model="name" required)
      md-input-container.md-block
        label Surname
        input.form-fields(type='password' ng-model="surname" required)
    // Login buttons
    div(ng-hide="home.regFields" layout="column" layout-align="center center")
      div.buttons
        md-content.buttons2
          md-button.log-but(ng-click="home.login(user,password)") LOGIN
      div.buttons
        md-content.buttons2
          md-button.reg-but(ng-click="home.goRegister()") REGISTER
    // Register buttons
    div(ng-show="home.regFields" layout="column" layout-align="center center")
      div.buttons
        md-content.buttons2
          md-button.reg-but(ng-click="home.register(user,password,name,surname)" ng-disabled="!loginForm.$valid") REGISTER
      div.buttons
        md-content.buttons2
          md-button.log-but(ng-click="home.goLogin()") CANCEL
    // Error messages
    div.error-messages(layout="row" layout-align="center center" ng-show="home.loginError || home.registerError")
      // Login failed
      div(ng-show="home.loginError") Login failed, email or password incorrect
      // Register failed
      div(ng-show="home.registerError") This username exist. Choose another one
      