div
  img(src="images/cognizantLogo.png")
div
  div
    form(name="loginForm" ng-controller="FormLoginCtrl as formLogin")
      // Login fields
      label User:
      input(type="text" placeholder="username or email" ng-model="user" required)
      br
      label Password:
      input(type="password" placeholder="password" ng-model="password" required)
      br
      // Register fields
      div(ng-show="formLogin.regFields")
        label Name
        input(type="text" placeholder="Name" ng-model="name" required)
        br
        label Surname
        input(type="text" placeholder="Surname" ng-model="surname" required)
      br
      br
      // Login and register buttons
      div(ng-hide="formLogin.regFields")
        div
          div(type="button" ng-click="formLogin.login(user,password)") LOGIN
        div
          div(type="button" ng-click="formLogin.goRegister()") REGISTER
      div(ng-show="formLogin.regFields")
        div(type="button" ng-click="formLogin.goLogin()") CANCELAR
        div(type="button" ng-click="formLogin.register(user,password,name,surname)" ng-disabled="!loginForm.$valid") REGISTER
      br
      br
      // Login failed message
      div(ng-show="formLogin.loginError") Login failed, email or password incorrect
       // Register failed message
      div(ng-show="formLogin.registerError") This username exist. Choose another one
