h2(layout="row" layout-align="center") Profile
div(layout="row" layout-align="center center" flex="50")
  md-input-container.md-block
    label User
    input(type="text" value="{{profile.user}}")
  md-input-container.md-block
    label Password
    input(type="password" value="{{profile.password}}")
div(layout="row" layout-align="center center" flex="50")
  md-input-container.md-block
    label Name
    input(type="text" value="{{profile.name}}")
  md-input-container.md-block
    label Surname
    input(type="text" value="{{profile.surname}}")
